= javascript_include_tag "application"
= stylesheet_link_tag    "application", :media => "all"
= csrf_meta_tags
%meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
= javascript_include_tag "games"
#confirmDialog{title: "Send score", style: "display:none;"}
  Your name
  = text_field_tag 'name', '', {name: "name", id: "name"}
